# .env.example（commit 進 Git）
POSTGRES_PASSWORD=your_password_here
REDIS_PASSWORD=your_password_here
KEYSTORE_PASSWORD=your_password_here

# POSTGRES_PASSWORD=1234
# REDIS_PASSWORD=1234
# KEYSTORE_PASSWORD=1qaz@WSX