# .env.example（commit 進 Git）
POSTGRES_PASSWORD=your_password_here
REDIS_PASSWORD=your_password_here
RABBITMQ_USERNAME=your_username_here
RABBITMQ_PASSWORD=your_password_here

# 未使用
# KEYSTORE_PASSWORD=your_password_here

# POSTGRES_PASSWORD=1234
# REDIS_PASSWORD=1234
# RABBITMQ_USERNAME=rabbitmq
# RABBITMQ_PASSWORD=1234

# 未使用
# KEYSTORE_PASSWORD=1qaz@WSX