<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.ProductMapper">

    <insert id="create">
        insert
        into "interviewworks_schema"."products" (products_name,
                                                 price,
                                                 stock,
                                                 description)
        values (#{products_name},
                #{price},
                #{stock},
                #{description})
    </insert>

    <select id="select" resultType="java.util.Map">
        select
            product_id,
            products_name,
            price,
            stock,
            description,
            created_date,
            updated_date
        from "interviewworks_schema"."products" p
        <where>
            <if test="product_id != null and product_id != ''">
                and product_id = #{product_id}
            </if>
            <if test="product_id_quantity != null and product_id_quantity > 0">
                or (product_id between #{product_id} and #{product_id} + #{product_id_quantity})
            </if>
        </where>
        order by p.product_id desc
    </select>

    <update id="update">
        update "interviewworks_schema"."products"
        <set>
            <if test="products_name != null and products_name != ''">
                products_name = #{products_name},
            </if>
            <if test="price != null and price > 0">
                price = #{price},
            </if>
            <if test="stock != null and stock > 0">
                stock = #{stock},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where product_id = #{product_id}
    </update>

    <delete id="delete">
        delete
        from "interviewworks_schema"."products"
        where product_id = #{product_id}
    </delete>


</mapper>