<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.RoleMapper">

    <select id="getRoles" resultType="java.lang.String">
        select name
        from "interviewworks_schema"."roles"
    </select>

    <select id="getRolesId" resultType="java.util.Map">
        select id, name
        from "interviewworks_schema"."roles"
    </select>

    <insert id="createUserRole">
        insert
        into "interviewworks_schema"."user_role" (username,
                                       role_id)
        values (#{username},
                #{roleId})
    </insert>

    <select id="selectUserRole" resultType="java.util.Map">
        select username, role_id
        from "interviewworks_schema"."user_role"
        where username = #{username}
    </select>

    <update id="updateUserRole">
        update "interviewworks_schema"."user_role"
        set role_id = #{roleId}
        where username = #{username}
          and role_id = #{roleIdOld}
    </update>

    <delete id="deleteUserRole">
        delete
        from "interviewworks_schema"."user_role"
        where username = #{username}
    </delete>

    <select id="getSelectRoles" resultType="java.lang.String">
        select permissions.code
        from
            "interviewworks_schema"."user_role" user_role,
            "interviewworks_schema"."role_permission" role_permission,
            "interviewworks_schema"."permissions" permissions
        where user_role.role_id = role_permission.role_id
          and role_permission.permission_id = permissions.id
          and user_role.username = #{username}
    </select>
    <select id="selectPermissionsCode" resultType="java.util.Map">
        select code, description
        from
            "interviewworks_schema"."permissions"
        where permissions.code = #{allowedRoles}
    </select>

</mapper>