<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.SecretMapper">

    <delete id="delNoSecret">
        delete
        from interviewworks.secret
        where update_date != #{dateFormat}
    </delete>

    <select id="getSecret" resultType="java.util.Map" parameterType="java.lang.String">
        select
            secret_number as secret_number
        from interviewworks.secret
        where update_date like concat(#{dateFormatStr}, '%')
    </select>

    <insert id="createSecret">
        insert
        into interviewworks.secret (secret_number,
                                    update_date)
        values (#{secretNum},
                #{dateFormat})
    </insert>

    <select id="getSecretOnly" resultType="java.util.Map" parameterType="java.lang.String">
        select
            secret_number as secret_number
        from interviewworks.secret
        where update_date = #{dateFormatStr}
    </select>

</mapper>