<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.UserMapper">

    <select id="select" resultType="java.util.Map">
        select
            username as username,
            password as password,
            update_date as update_date,
            time_stamp as time_stamp
        from interviewworks.userdata
        where username = #{username}
    </select>

    <insert id="create">
        insert
        into interviewworks.userdata (username,
                                      password,
                                      update_date,
                                      time_stamp)
        values (#{username},
                #{password},
                #{update_date},
                #{time_stamp})
    </insert>

    <update id="update">
        update interviewworks.userdata
        set password = #{password}
        where username = #{username}
    </update>

    <update id="updateToken">
        update interviewworks.userdata
        set token_temp = #{token}
        where username = #{username}
    </update>

    <select id="selectUsername" resultType="java.util.Map" parameterType="java.lang.String">
        select
            username as username
        from interviewworks.userdata
        where token_temp = #{token}
    </select>

    <select id="selectToken" resultType="java.util.Map" parameterType="java.lang.String">
        select
            token_temp as token
        from interviewworks.userdata
        where username = #{username}
    </select>

</mapper>