<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.SecretMapper">

    <select id="getSecret" resultType="boolean">
        select exists (
            select 1
            from "interviewworks_schema"."secret"
            where EXTRACT(YEAR FROM created_date) = EXTRACT(YEAR FROM CURRENT_TIMESTAMP)
              and EXTRACT(MONTH FROM created_date) = EXTRACT(MONTH FROM CURRENT_TIMESTAMP)
        ) as has_this_month;
    </select>

    <insert id="createSecret">
        insert
        into "interviewworks_schema"."secret" (secret_number)
        values (#{secretNum})
    </insert>

    <select id="getSecretOnly" resultType="java.lang.String">
        select secret_number as secret_number
        from "interviewworks_schema"."secret"
        where EXTRACT(YEAR FROM created_date) = EXTRACT(YEAR FROM CURRENT_TIMESTAMP)
          and EXTRACT(MONTH FROM created_date) = EXTRACT(MONTH FROM CURRENT_TIMESTAMP)
    </select>

</mapper>