<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.UserMapper">

    <select id="select" resultType="java.util.Map">
        select userdata.username               as username,
               permissionsdata.password        as password,
               permissionsdata.use_permissions as permissions,
               userdata.created_date           as created_date,
               userdata.updated_date           as updated_date
        from "interviewworks_schema"."userdata" userdata
                 inner join "interviewworks_schema".permissionsdata permissionsdata
                            on
                                userdata.username = permissionsdata.username
        where userdata.username = #{username}
        order by userdata.updated_date desc
    </select>

    <insert id="create">
        insert
        into "interviewworks_schema"."userdata" (username)
        values (#{username})
    </insert>

    <delete id="delete">
        delete
        from "interviewworks_schema"."userdata"
        where username = #{username}
    </delete>

    <insert id="createUserdataDetail">
        insert
        into "interviewworks_schema"."userdata_details" (username,
                                              order_item)
        values (#{username},
                #{order_item_str})
    </insert>

    <select id="selectUserdataDetail" resultType="java.util.Map">
        select userdata_details.username    as username,
               permissionsdata.password     as password,
               permissionsdata.use_permissions as permissions,
               userdata_details.created_date   as created_date,
               userdata_details.updated_date   as updated_date,
               userdata_details.order_item  as order_item
        from "interviewworks_schema"."userdata_details" userdata_details
                 inner join "interviewworks_schema"."userdata" userdata
                            on
                                userdata_details.username = userdata.username
                 inner join "interviewworks_schema"."permissionsdata" permissionsdata
                            on
                                userdata.username = permissionsdata.username
        where userdata_details.username = #{username}
          and userdata_details.is_active = '0'
        order by userdata_details.updated_date desc
    </select>

    <update id="updateUserdataDetail">
        update "interviewworks_schema"."userdata_details"
        set order_item  = #{order_item_str}
        where username = #{username}
    </update>

    <delete id="deleteUserdataDetail">
        delete
        from "interviewworks_schema"."userdata_details"
        where username = #{username}
    </delete>

    <select id="queryUserName" resultType="java.lang.String">
        select concat('(',
                      permissionsdata.use_permissions,
                      ')',
                      userdata.username,
                      '          銷售代號',
                      userdata_details.order_item) as fixed
        from "interviewworks_schema".userdata userdata
                 inner join "interviewworks_schema"."permissionsdata" permissionsdata
                            on
                                userdata.username = permissionsdata.username
                 inner join "interviewworks_schema"."userdata_details" userdata_details
                            on
                                userdata.username = userdata_details.username
        where permissionsdata.use_permissions in ('GUEST', 'USER')
          and userdata_details.is_active = '1'
          and userdata_details.tracking_number is null
        order by
            case permissionsdata.use_permissions
                when 'GUEST' then 1
                when 'USER' then 2
                end ,
            permissionsdata.updated_date desc
    </select>

    <update id="updateUserdataDetailIsActive">
        update "interviewworks_schema"."userdata_details"
        set is_active  = '1', is_active_notifications =  '1'
        where username = #{username}
    </update>

    <select id="userdataDetailsDataId" resultType="java.util.Map">
        select distinct
            quotations.quotation_id,
            quotations.status,
            userdata_details.username,
            quotations.total_price
        from
            "interviewworks_schema"."userdata_details" userdata_details
                inner join "interviewworks_schema"."quotations" quotations
                           on
                               userdata_details.username = quotations.username
                inner join "interviewworks_schema"."quotation_items" quotation_items
                           on
                               quotations.quotation_id = quotation_items.quotation_id
        <where>
            and userdata_details.is_active = '1'
            and userdata_details.username = #{username}
            <if test="statuss != null and statuss.size() > 0">
                and quotations.status in
                <foreach collection="statuss" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        order by quotations.quotation_id
    </select>

    <select id="userdataDetailsData" resultType="java.util.Map">
        select
            quotations.quotation_id,
            quotations.status,
            userdata_details.username,
            quotation_items.quantity,
            quotation_items.price,
            quotation_items.quantity * quotation_items.price as sum_price,
            products.products_name,
            products.description
        from
            "interviewworks_schema"."userdata_details" userdata_details
                inner join "interviewworks_schema"."quotations" quotations
                           on
                               userdata_details.username = quotations.username
                inner join "interviewworks_schema"."quotation_items" quotation_items
                           on
                               quotations.quotation_id = quotation_items.quotation_id
                inner join "interviewworks_schema"."products" products
                           on
                               quotation_items.product_id = products.product_id
        <where>
            and userdata_details.is_active = '1'
            <if test="quotation_id != null and quotation_id != ''">
                and quotations.quotation_id = #{quotation_id}
            </if>
            and userdata_details.tracking_number is null
            and userdata_details.username = #{username}
            <if test="statuss != null and statuss.size() > 0">
                and quotations.status in
                <foreach collection="statuss" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        order by quotations.quotation_id
    </select>

    <update id="updateQuotations">
        update "interviewworks_schema"."quotations"
        set status = #{status}
        where username = #{username}
          and quotation_id = #{quotation_id}
    </update>

    <select id="selectQuotations" resultType="java.util.Map">
        select
            quotations.quotation_id,
            quotations.username,
            quotations.status,
            quotations.total_price
        from "interviewworks_schema"."quotations" quotations
        where quotations.quotation_id = #{quotation_id}
          and quotations.username = #{username}
    </select>

    <select id="selectOrdersItemsMax" resultType="java.lang.Integer">
        select coalesce(max(order_id), 0)
        from "interviewworks_schema"."orders"
    </select>

    <insert id="createOrders">
        insert
        into "interviewworks_schema"."orders" (
            order_id,
            quotation_id,
            status,
            total_price)
        values (#{order_id},
                #{quotation_id},
                #{status},
                #{total_price})
    </insert>

    <select id="getOrdersQuotations" resultType="java.util.Map">
        select
            quotations.quotation_id,
            quotations.status,
            quotation_items.quantity,
            quotation_items.price,
            quotation_items.quantity * quotation_items.price as sum_price,
            products.products_name,
            products.description
        from "interviewworks_schema"."quotations" quotations
                 inner join "interviewworks_schema"."quotation_items" quotation_items
                            on
                                quotations.quotation_id = quotation_items.quotation_id
                 inner join "interviewworks_schema"."products" products
                            on
                                quotation_items.product_id = products.product_id
        where quotations.quotation_id = #{quotation_id}
          and quotations.username = #{username}
    </select>

</mapper>